  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .tagging-wrapper {
    width: 512px;
    height: 512px;
    border: 1px solid #151414;
  }
  .tagging-wrapper img {
    height: 100%;
    width: 100%;
  }
  .no-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }